
.gradle
app/build
.idea
app/.externalNativeBuild
AndroidFFmpegPlayer.iml
app/app.iml
local.properties
*.iml
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/avcodec.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/avfft.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/dxva2.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/vaapi.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/vda.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/vdpau.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavcodec/xvmc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavdevice/avdevice.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/asrc_abuffer.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/avcodec.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/avfilter.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/avfiltergraph.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/buffersink.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/buffersrc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavfilter/vsrc_buffer.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavformat/avformat.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavformat/avio.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavformat/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/adler32.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/aes.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/attributes.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/audio_fifo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/audioconvert.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/avassert.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/avconfig.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/avstring.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/avutil.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/base64.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/bprint.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/bswap.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/common.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/cpu.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/crc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/dict.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/error.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/eval.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/fifo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/file.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/imgutils.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/intfloat.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/intfloat_readwrite.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/intreadwrite.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/lfg.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/log.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/lzo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/mathematics.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/md5.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/mem.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/opt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/parseutils.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/pixdesc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/pixfmt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/random_seed.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/rational.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/samplefmt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/sha.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/timecode.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libavutil/timestamp.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libswresample/swresample.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/include/libswscale/swscale.h
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libavcodec-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libavdevice-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libavfilter-2.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libavformat-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libavutil-51.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libswresample-0.so
app/src/main/cpp/ffmpeg/armeabi-v7a/debug/libswscale-2.so
app/src/main/cpp/ffmpeg/armeabi-v7a/include/testh.h
app/src/main/cpp/ffmpeg/armeabi-v7a/libtest.a
app/src/main/cpp/ffmpeg/armeabi-v7a/libtest.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/avcodec.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/avfft.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/dxva2.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/vaapi.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/vda.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/vdpau.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavcodec/xvmc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavdevice/avdevice.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/asrc_abuffer.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/avcodec.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/avfilter.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/avfiltergraph.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/buffersink.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/buffersrc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavfilter/vsrc_buffer.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavformat/avformat.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavformat/avio.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavformat/version.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/adler32.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/aes.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/attributes.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/audio_fifo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/audioconvert.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/avassert.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/avconfig.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/avstring.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/avutil.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/base64.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/bprint.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/bswap.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/common.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/cpu.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/crc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/dict.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/error.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/eval.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/fifo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/file.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/imgutils.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/intfloat.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/intfloat_readwrite.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/intreadwrite.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/lfg.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/log.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/lzo.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/mathematics.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/md5.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/mem.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/opt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/parseutils.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/pixdesc.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/pixfmt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/random_seed.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/rational.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/samplefmt.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/sha.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/timecode.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libavutil/timestamp.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libswresample/swresample.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/libswscale/swscale.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/include/testh.h
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libavcodec-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libavdevice-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libavfilter-2.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libavformat-54.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libavutil-51.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libswresample-0.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libswscale-2.so
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libtest.a
app/src/main/cpp/ffmpeg/armeabi-v7a/release/libtest.so
